<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITsLITT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D95CC9911CB4409200DC360C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95CC9A81CB4409200DC360C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95CC9B31CB4409200DC360C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
